@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(57, 130, 179) ;
}

h1{
    color: white;
    text-align: center;
}

main{
    background-color: white;
    padding: 5px;
    width: 80vw;
    margin: auto;
    border-radius: 10px;
}

#message{
    text-align: center;
}

#image{
    display: block;
    margin: auto;
}

@media screen and (min-width: 1200px) {
    
main{
    width: 50vw;
}
}